<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.groupwork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroupWork"
        tools:targetApi="31">

        <activity
            android:name=".DNDChat.CampaignSelection"
            android:label="Campaign Selection"
            android:exported="false" />
        <activity
            android:name=".DNDChat.ChatSelection"
            android:label="Chat Selection"
            android:exported="false" />
        <activity
            android:name=".DNDChat.DnDChat"
            android:exported="false" />
        <activity
            android:name=".board.BattleMapActivity"
            android:exported="false"
            android:configChanges = "orientation">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CampaignNotesActivity"
            android:label="Campaign Notes"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".GameCreation.PlayerJoinGame"
            android:label="Player Join Game"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".GameCreation.GMGameCreation"
            android:label="Game Master Game Creation"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Login.Account_Creation"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Login.Login"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Login.DnDLogin"
            android:label="Login"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".StickerActivity.Messages"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".StickerActivity.DisplayClickedSticker"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".About"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".StickerActivity.Friends"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".StickerActivity.ShowSticker"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".StickerActivity.Chat"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.GroupWork.NoActionBar" />
        <activity
            android:name=".StickerActivity.StickerAccount"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Menus.RpgBuddyMainMenu"
            android:label="Game Menu"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Menus.LoadedGameActivity"
            android:label="Options"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".StickerActivity.Firebase"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".CharacterEditor.SheetBuilderActivity"
            android:label="Sheet Builder"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".CharacterEditor.CharacterSheetActivity"
            android:label="Character Sheet Builder"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".CharacterEditor.CharacterSheetActivityRefactor"
            android:label="Character Sheet Activity Refactor"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".DndApiActivity.DndAPIActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>